<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PerInfo.UI.Properties.Settings._2018ETConnectionString"
            connectionString="Data Source=LYFUB-990928\SQLEXPRESS01;Initial Catalog=2018ET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>